.btn {
  color: #fff;
  padding: rem(10px) rem(15px);
  background: $red;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: rem(5px);
  font-size: rem(13px);
  font-weight: 500;
  display: inline-flex;
  margin-left: rem(15px);
  

  &:hover {
    color: #fff;
    padding: rem(10px) rem(15px);
    background: $red2;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: rem(5px);
    font-size: rem(13px);
    font-weight: 500;
    display: inline-flex;
    margin-left: rem(15px);
  }

  &-submit {
    margin-left: 0;

    &:hover {
      margin-left: 0;
    }
  }

  &-review {
    margin: rem(17px) 0 0 rem(20px);

    @include tablets {
      margin: rem(17px) 0 0;
    }

    @include phones {
      display: none;
    }
    

    &:hover {
      margin: rem(17px) 0 0 rem(20px);
      background: $red2;
      
      @include tablets {
        margin: rem(17px) 0 0;
      }

      @include phones {
        display: none;
      }
    }

    &_read {
      

      @include phones {
        z-index: 0;
      }

      &:hover {
        margin: rem(17px) 0 0 rem(20px);
        background: $red2;

      }
    
    }
  }
}

.btn-reset {
  display: flex;
  color: #fff;
  margin-left: rem(20px);
  align-items: center;
}