.features {
  background: url('../img/bg/bg-second-part.png') center center / cover no-repeat;;
}

.features__list {
  display: flex;
  justify-content: space-between;
}

.features__item {
  width: calc(100% / 3 - 26px);
}