.footer {
    background: url('../img/bg/bg-footer.png') center center no-repeat;
    background-size: cover;
    position: absolute;
    padding: rem(10px) 0;
    left: 0;
    right: 0;
    bottom: 0;

    &__container {
        display: flex;
        align-items: center;
    }

    &__col {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: flex-start;
        

        &-right {
            width: 50%;
            flex-direction: row;
            text-align: left;
            justify-content: flex-end;
        }
    }

    &__address {
        display: block;
        color: #fff;
        font-size: rem(14px);
    }

    
}