// colors
$yellow: #f9b43b;
$black: #2f3234;
$red: #e45028;
$red2: #c1401e;



@import "./_fonts.scss";
@import "./_layout.scss";
@import "./_normalize.scss";
@import "./_section.scss";
@import "./_header.scss";
@import "./menu.scss";
@import "./hero.scss";
@import "./btn.scss";
@import "./scroll-down.scss";
@import "./features.scss";
@import "./feature.scss";
@import "./reviews.scss";
@import "./review.scss";
@import "./form.scss";
@import "./order.scss";


