.nav {
  @include tablets {
    display: none;
  }
}

.nav__list {
  display: flex;
  align-items: center;
} 

.nav__item {
  display: flex;
  align-items: center;
  white-space: nowrap;

  &::before {
    content: '';
    display: block;
    width: rem(4px);
    height: rem(4px);
    border-radius: 50%;
    margin-left: rem(15px);
    background: currentColor;
  }
  &:first-child {
    &:before {
      display: none;
    }
    
  }
}

.nav__link {
  margin-left: rem(15px);
  font-size: rem(13px);
  text-transform: uppercase;
  text-decoration: none;
}