.phone {
  @include phones {
    margin-bottom: rem(10px);;
}
}

.phone__icon {
  margin-top: rem(13px);
  width: rem(11px);
  height: rem(11px);
}

.phone__link {
  color: #e45028;
  font-weight: 500;
  text-decoration: none;
}
